* {
  font-family: "ryo-gothic-plusn",sans-serif;
}

section {
  border-bottom: 1px solid #bbb;
  padding-top: 15px;
  padding-bottom: 30px;
}

section:first-of-type {
  border-bottom: 0px;
  padding-bottom: 0px;
}

section:last-of-type {
  border-bottom: 0px;
}

#top-message {
  margin-top: 30px;
  padding: 0px;
}

.iloli-title{
  font-family: "daniel",cursive;
  font-weight: bold;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 30px 15px;

  color: #fff;
  background-color: #000000;
  background-image: url(../img/cl_top_bg_sm.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron {
    background-image: url(../img/cl_top_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.navbar-brand {
  font-family: "myriad-pro",sans-serif;
  letter-spacing: 0.125em;
  color: #3399FF !important;

  background: url("../img/cl_logo_blue.png") no-repeat left center;
  background-size: contain;
  height: 50px;

  padding-left: 55px;
}

.copy-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.section-title {
  text-align: center;
  font-family: "omnes-pro",sans-serif;
  padding: 10px 0px;
}

.section-contents {
  margin-top: 30px;
  text-align: center;
}



.content-subscript {
  text-align: center;
  padding-bottom: 30px;
}

.td1{
  font-weight: bold;
}

.footer{
  /*position: absolute;
  bottom: 0;
  width: 100%;*/
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #f5f5f5;
  padding-top: 15px;
}
